#INTRODUCTION TO PYTHON

In [ ]:
#Our first script
print("Hello, world!")

Hello, world!

In [ ]:
print(8)

8

In [ ]:
print("Our first python class")

Our first python class

In [ ]:
X = 9
X

9

In [ ]:
X = 45
X

45

In [ ]:
X = 'Hello, everyone'
print(X)

Hello, everyone

In [ ]:
#Assigning multiple variables
a, b,c = 24,'Mercy', 56
b

'Mercy'

In [ ]:
#Datatypes

age = 27 #Integer
age
print(type(age))

<class 'int'>

In [ ]:
# STRING

Name = 78.9
Name
print(type(Name))

<class 'float'>

In [ ]:
Fruits = ["Mango", "Cherry", "Orange"]
Fruits
print(type(Fruits))

<class 'list'>

In [ ]:
Odd_numbers = (1,3,5,7,9)
Odd_numbers
print(type(Odd_numbers))

(1, 3, 5, 7, 9)

In [ ]:
Student_details = {"Name": "Mercy", "Age": 20, "Score": 45 }
Student_details
print(type(Student_details))

<class 'dict'>

In [ ]:
Student_score = 78
print(type(Student_score))

<class 'int'>

In [ ]:
X = 10
X > 5 or X < 3

True

In [ ]:
# INPUT FUNCTION
#input("What is your name?")

Name =input("What is your name?")
Age = input("How old are you?")
Location = input("Where are you from?")
print(f"My name is", Name, "I am", Age, "Old", "and I am from", Location)

What is your name?John
How old are you?20
Where are you from?Lagos
My name is John I am 20 Old and I am from Lagos

In [ ]:
Name =input("What is your name?")
Age = input("How old are you?")
Location = input("Where are you from?")
print(f"My name is {Name}, I am {Age} years Old, and I am from {Location}")

What is your name?John
How old are you?30
Where are you from?Lagos
My name is John, I am 30 years Old, and I am from Lagos

In [ ]:
Age = int(input("How old are you?"))
Age/2

How old are you?40

20.0

In [ ]:
Age = input("How old are you?")
Age = int(Age)
Age/2

In [ ]:
age = int(input("How old are you?"))
if age >= 18:
  print("You are an adult.")
elif age >= 13:
  print("You are a teenager.")
else:
  print("You are a child.")

How old are you?245
You are an adult.

In [ ]:
#Write a Python program that asks the user to enter a number.
#The program should determine if the number is even or odd and display the appropriate message.

Number = int(input("Enter a number"))
if Number % 2 == 0:
  print("The number is even.")
else:
  print("The number is odd.")

Enter a number18
The number is even.

In [ ]:
Number = input("Enter a number")
Number = int(Number)
if Number % 2 == 0:
  print("The number is even.")
else:
  print("The number is odd.")

Enter a number20
The number is even.

In [ ]:
#Write a Python program that asks the user to enter their age. If the user is 18 years or older,
#print "You are eligible to vote." Otherwise, print "You are not eligible to vote.”

Age = int(input("How old are you?"))
if Age >= 18:
  print("You are eligible to vote")
elif Age >= 10:
  print("You are a minor")
else:
  print("You are not eligible to vote")

How old are you?20
You are eligible to vote

In [ ]:
#INDEXING IN PYTHON
Text = "Mercy"
print(Text[0])

M

In [ ]:
Fruits = ["Mango", "Apple", "Banana", "Orange", "Cucumber", "Pawpaw"]
print(Fruits[-2])

Cucumber

In [ ]:
#Replacing an element in a list
Fruits[3] = "Cherry"
Fruits

['Mango', 'Apple', 'Banana', 'Cherry', 'Cucumber', 'Pawpaw']

In [ ]:
#Adding an element to a list
Fruits.append("Banana")
Fruits

['Mango', 'Apple', 'Banana', 'Cherry', 'Cucumber', 'Pawpaw', 'Banana']

In [ ]:
#Adding an element to a specific position
Fruits.insert(2,"pear")
Fruits

['Mango', 'Apple', 'pear', 'Banana', 'Cherry', 'Cucumber', 'Pawpaw', 'Banana']

In [ ]:
#. Removing and returning the last element using pop()
Fruits.pop(2)
Fruits

['Mango', 'Apple', 'Banana', 'Cherry', 'Cucumber', 'Pawpaw']

In [ ]:
#Removing a specific element
Fruits.remove("Apple")
Fruits

['Mango', 'Banana', 'Cherry', 'Cucumber', 'Pawpaw']

In [ ]:
#Extending the list with another list
Food = ["Rice", "Beans", "Yam"]
Food.extend(Fruits)
Food

['Rice', 'Beans', 'Yam', 'Mango', 'Banana', 'Cherry', 'Cucumber', 'Pawpaw']

#INTRODUCTION TO PANDAS

In [ ]:
import pandas as pd

In [ ]:
#Importing Data
df = pd.read_csv('/content/supermarket_sales.csv')
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Month,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,May,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,Aug,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,Mar,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,Jan,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,Aug,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,Jan,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,Feb,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,Sep,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,Feb,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,Feb,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
#Exporting Data
df.to_excel('Super.xlsx', index=False)

#EDA (exploratory data analysis)

##.head shows the first 5 rows
##.tail shows the last 5 rows
##.sample shows random row
##.shape shows no of rows and columns
##.info shows brief information about the dataset
##.describe shows brief statistical analysis on the dataset
##.dtypes shows the datatypes of each column
##.columns shows the names of the columns in the dataset
##.isnull/isna shows the number of missing values

In [ ]:
#Viewing the first 5 rows
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Month,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,May,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,Aug,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6

In [ ]:
#Viewing the last 5 rows
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Month,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,Jan,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,Feb,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,Sep,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,Feb,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,Feb,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
df.sample(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Month,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
490,686-41-0932,B,Mandalay,Normal,Female,Fashion accessories,34.70,2,3.4700,72.8700,Mar,3/13/2019,19:48,Ewallet,69.40,4.761905,3.4700,8.2
801,324-41-6833,C,Naypyitaw,Member,Female,Electronic accessories,30.20,8,12.0800,253.6800,Mar,3/3/2019,19:30,Ewallet,241.60,4.761905,12.0800,5.1
382,868-52-7573,B,Mandalay,Normal,Female,Food and beverages,99.69,5,24.9225,523.3725,Jan,1/14/2019,12:09,Cash,498.45,4.761905,24.9225,9.9
482,674-15-9296,A,Yangon,Normal,Male,Sports and travel,37.14,5,9.2850,194.9850,Aug,1/8/2019,13:05,Ewallet,185.70,4.761905,9.2850,5.0
830,237-44-6163,A,Yangon,Normal,Male,Electronic accessories,10.56,8,4.2240,88.7040,Jan,1/24/2019,17:43,Cash,84.48,4.761905,4.2240,7.6

In [ ]:
df.shape

(1000, 18)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Month                    1000 non-null   object
 11  Date                     1000 non-null   object
 12  Time                     1000 non-null   object
 13  Payment                  1000 non-null   object
 14  cogs                     1000 non-null   float64
 15  gross margin percentage  1000 non-null   float64
 16  gross income             1000 non-null   float64
 17  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(10)
memory usage: 140.8+ KB

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unit price,1000.0,55.672130,2.649463e+01,10.080000,32.875000,55.230000,77.935000,99.960000
Quantity,1000.0,5.510000,2.923431e+00,1.000000,3.000000,5.000000,8.000000,10.000000
Tax 5%,1000.0,15.379369,1.170883e+01,0.508500,5.924875,12.088000,22.445250,49.650000
Total,1000.0,322.966749,2.458853e+02,10.678500,124.422375,253.848000,471.350250,1042.650000
cogs,1000.0,307.587380,2.341765e+02,10.170000,118.497500,241.760000,448.905000,993.000000
gross margin percentage,1000.0,4.761905,6.131498e-14,4.761905,4.761905,4.761905,4.761905,4.761905
gross income,1000.0,15.379369,1.170883e+01,0.508500,5.924875,12.088000,22.445250,49.650000
Rating,1000.0,6.972700,1.718580e+00,4.000000,5.500000,7.000000,8.500000,10.000000

In [ ]:
df['Rating'].dtypes

dtype('float64')

In [ ]:
df['City'].dtypes

dtype('O')

In [ ]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Month',
       'Date', 'Time', 'Payment', 'cogs', 'gross margin percentage',
       'gross income', 'Rating'],
      dtype='object')

In [ ]:
df.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Month                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/refs/heads/master/diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
import pandas as pd
md = pd.read_csv('https://raw.githubusercontent.com/lorenzodenisi/Heart-Failure-Clinical-Records/master/heart_failure_clinical_records_dataset.csv')
md

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [ ]:
md.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [ ]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [ ]:
md.shape

(299, 13)

In [ ]:
md.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [ ]:
md.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [ ]:
md.head(2)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1

In [ ]:
#Changing the datatype to a string
md['age'] = md['age'].astype('str')

In [ ]:
md.dtypes

age                          object
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

In [ ]:
  md['age'] = md['age'].str.replace('.0', '')

In [ ]:
  md['age'] = md['age'].str.replace('.667', '')

In [ ]:
md.head(5)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75,False,582,False,20,1,265000.00,1.9,130,1,0,4,1
1,55,False,7861,False,38,0,263358.03,1.1,136,1,0,6,1
2,65,False,146,False,20,0,162000.00,1.3,129,1,1,7,1
3,50,True,111,False,20,0,210000.00,1.9,137,1,0,7,1
4,65,True,160,True,20,0,327000.00,2.7,116,0,0,8,1

In [ ]:
md['age'].unique()

array(['75', '55', '65', '50', '90', '60', '80', '62', '45', '49', '82',
       '87', '70', '48', '68', '53', '95', '58', '94', '85', '69', '72',
       '51', '57', '42', '41', '67', '79', '59', '44', '63', '86', '66',
       '43', '46', '61', '81', '52', '64', '40', '73', '77', '78', '54',
       '47', '56'], dtype=object)

In [ ]:
md['age'] = md['age'].astype('int')

In [ ]:
md.dtypes

age                           int64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

In [ ]:
md['anaemia'] =md['anaemia'].astype('str')
md['anaemia'] = md['anaemia'].str.replace('0', 'False')
md['anaemia'] = md['anaemia'].str.replace('1', 'True')

In [ ]:
md['anaemia'].unique()

array(['False', 'True'], dtype=object)

In [ ]:
md['diabetes'] =md['diabetes'].astype('str')
md['diabetes'] = md['diabetes'].str.replace('0', 'False')
md['diabetes'] = md['diabetes'].str.replace('1', 'True')

In [ ]:
md['sex'] = md['sex'].astype('str')
md['sex'] = md['sex'].str.replace('0', 'Male')
md['sex'] = md['sex'].str.replace('1', 'Female')

In [ ]:
md

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75,False,582,False,20,1,265000.00,1.9,130,Female,0,4,1
1,55,False,7861,False,38,0,263358.03,1.1,136,Female,0,6,1
2,65,False,146,False,20,0,162000.00,1.3,129,Female,1,7,1
3,50,True,111,False,20,0,210000.00,1.9,137,Female,0,7,1
4,65,True,160,True,20,0,327000.00,2.7,116,Male,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62,False,61,True,38,1,155000.00,1.1,143,Female,1,270,0
295,55,False,1820,False,38,0,270000.00,1.2,139,Male,0,271,0
296,45,False,2060,True,60,0,742000.00,0.8,138,Male,0,278,0
297,45,False,2413,False,38,0,140000.00,1.4,140,Female,1,280,0
298,50,False,196,False,45,0,395000.00,1.6,136,Female,1,285,0

In [ ]:
md['diabetes'].astype('str')
md['diabetes'].str.replace('0', 'False')
md['diabetes'].str.replace('1', 'True')

In [ ]:
md['high_blood_pressure'] = md['high_blood_pressure'].astype('str')

In [ ]:
md['smoking'] = md['smoking'].astype('str')

In [ ]:
md[['high_blood_pressure', 'smoking']] = md[['high_blood_pressure', 'smoking']].str.replace('0', 'False')

AttributeError: 'DataFrame' object has no attribute 'str'

In [ ]:
md.dtypes

age                           int64
anaemia                      object
creatinine_phosphokinase      int64
diabetes                     object
ejection_fraction             int64
high_blood_pressure          object
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                          object
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

In [ ]:
df = pd.read_csv('/content/data_cleaning.csv')

#DATA ANALYSIS USING GROUP BY AND VALUE COUNT

In [1]:
import pandas as pd
df = pd.read_csv('/content/supermarket_sales.csv')
df.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Month,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,May,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,Aug,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,Mar,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,Jan,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,Aug,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [2]:
df['Gender'].value_counts()

Gender
Female    501
Male      499
Name: count, dtype: int64

In [3]:
df['Customer type'].value_counts()

Customer type
Member    501
Normal    499
Name: count, dtype: int64

In [8]:
df['Branch'].value_counts().sort_values(ascending=False).head(2)

Branch
A    340
B    332
Name: count, dtype: int64

In [10]:
df.groupby('Product line')['cogs'].sum().sort_values(ascending=False)

Product line
Food and beverages        53471.28
Sports and travel         52497.93
Electronic accessories    51750.03
Fashion accessories       51719.90
Home and lifestyle        51297.06
Health and beauty         46851.18
Name: cogs, dtype: float64

In [12]:
#Sales per City

df.groupby('City')['cogs'].sum().sort_values()

City
Mandalay     101140.64
Yangon       101143.21
Naypyitaw    105303.53
Name: cogs, dtype: float64

In [22]:
#Unit sold per month
df.groupby(['Month', 'Product line'])['Quantity'].sum()

Month  Product line
Apr    Electronic accessories    35
       Fashion accessories       19
       Food and beverages        17
       Health and beauty         38
       Home and lifestyle        33
                                 ..
Sep    Fashion accessories       54
       Food and beverages        28
       Health and beauty         24
       Home and lifestyle        36
       Sports and travel         54
Name: Quantity, Length: 72, dtype: int64

In [20]:
dfpermonth

Month  Product line
Nov    Electronic accessories      5
Jul    Sports and travel          12
May    Electronic accessories     12
Aug    Electronic accessories     13
Oct    Health and beauty          14
                                ...
Jan    Home and lifestyle        228
       Food and beverages        236
Mar    Home and lifestyle        239
Jan    Sports and travel         277
       Electronic accessories    287
Name: Quantity, Length: 72, dtype: int64

In [26]:
#Total Revenue per month

df.groupby('Month')['cogs'].sum().sort_values(ascending=False)

Month
Apr     7578.69
Jun     9154.50
Nov     9160.35
Oct     9395.43
Jul    10953.06
Dec    11296.48
May    12189.23
Aug    12860.74
Sep    13111.70
Feb    60161.66
Mar    69285.00
Jan    82440.54
Name: cogs, dtype: float64

In [30]:
#Product with the highest rating

df.groupby('Product line')['Rating'].mean().sort_values(ascending=False)

Product line
Food and beverages        7.113218
Fashion accessories       7.029213
Health and beauty         7.003289
Electronic accessories    6.924706
Sports and travel         6.916265
Home and lifestyle        6.837500
Name: Rating, dtype: float64

In [31]:
#Most used payment method
df['Payment'].value_counts()

Payment
Ewallet        345
Cash           344
Credit card    311
Name: count, dtype: int64

In [32]:
df.groupby('Customer type')['Payment'].value_counts()

Customer type  Payment
Member         Credit card    172
               Cash           168
               Ewallet        161
Normal         Ewallet        184
               Cash           176
               Credit card    139
Name: count, dtype: int64